
@inherits LayoutComponentBase

<main>
    <CascadingValue Value="@this.MainCascadingValue.BannerBackgroundImageCssClass" Name="@nameof(CascadingData.BannerBackgroundImageCssClassParameterValue)" IsFixed="true">
        <CascadingValue Value="this.MainCascadingValue.PositionCssClass" Name="@nameof(CascadingData.PositionCssClassParameterValue)" IsFixed="true">
            <CascadingValue Value="this.MainCascadingValue.Spread" Name="@nameof(CascadingData.SpreadValue)" IsFixed="true">
                <CascadingValue Value="this.MainCascadingValue.ItemSelect" Name="@nameof(CascadingData.SelectParameterValue)" IsFixed="false">
                    <NavMenu />
                    @Body
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</main>

<Footer BisName="Pragmatic Applications" />
