@page "/ToDoTaskManager"

@inherits ToDoTaskBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="center_max_width_lg">

    @if(this.ToDoTaskDtos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CascadingValue Value="this.ToDoTaskDtos" Name="@nameof(CascadingData.ToDoTaskEntitiesParameterValue)" IsFixed="false">
            <ToDoTaskIndexContainer />
        </CascadingValue>
    }

    <PageFeature OnSelectedPage="this.SelectedPage" OnSortChanged="this.SortChanged" OnSearchChanged="SearchChanged" PagerDataParameter="@this.PagerData" />

</div>
<div class="page-top">
    <NavLink href="@ToDoTaskManagerPageRoute.ToDoTaskManager" class="top"></NavLink>
</div>
