@page "/Admin/Details/{Id:int}"

@inherits ToDoTaskBase

<CascadingValue Value="this.BrowserTitleValue" Name="@nameof(CascadingData.BrowserTitleCascadingValue)" IsFixed="false">
    <CascadingValue Value="this.BannerTitleValue" Name="@nameof(CascadingData.BannerTitleCascadingValue)" IsFixed="false">
        <CascadingValue Value="this.AppNameValue" Name="@nameof(CascadingData.AppNameCascadingValue)" IsFixed="false">
            <Banner />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<div class="container_basic">

    @if(this.ToDoTaskDto?.Id == 0)
    {
        <div class="card">
            <div class="card_body">
                <p class="card-text">No Item to show.</p>
            </div>
        </div>
    }
    else
    {
        <Card TEntity="ToDoTaskDto" class="card">
            <ImageContainer ImageParameter="@this.ToDoTaskDto.Image" class="@CssData.FormFeedbackImageCss" />
            <CardHeader TEntity="ToDoTaskDto" Css="card_header">
                ID: #@this.ToDoTaskDto.Id
            </CardHeader>
            <CardBody TEntity="ToDoTaskDto" Css="card_body_1">
                <CardText TEntity="ToDoTaskDto">
                    Category Id: @this.ToDoTaskDto.ToDoTaskCategoryId
                </CardText>
                <CardText TEntity="ToDoTaskDto">
                    Category: @this.ToDoTaskDto.TaskCategory
                </CardText>
                <CardText TEntity="ToDoTaskDto">
                    Title: @this.ToDoTaskDto.Title
                </CardText>
                <CardText TEntity="ToDoTaskDto">
                    Detail: @this.ToDoTaskDto.Detail
                </CardText>
                <CardText TEntity="ToDoTaskDto">
                    Created Date: @this.ToDoTaskDto.CreatedDate.Date
                </CardText>
                <CardText TEntity="ToDoTaskDto">
                    Complete: @this.IsDone
                </CardText>
            </CardBody>
            <CardFooter TEntity="ToDoTaskDto" Css="card_link_group_xs card_link_group_md_3">
                <LinkButton Url="@ToDoTaskManagerPageRoute.Admin" Css="@CssData.EditFormBtnThemeBlueDCss">
                    <UrlLink>
                        Back
                    </UrlLink>
                </LinkButton>
                <LinkButton Url="@this.UrlUpdate" Css="@CssData.EditFormBtnThemeBlueDCss">
                    <UrlLink>
                        Edit
                    </UrlLink>
                </LinkButton>
                <LinkButton Url="@this.UrlDelete" Css="btn btn_danger btn_sm">
                    <UrlLink>
                        X
                    </UrlLink>
                </LinkButton>
            </CardFooter>
        </Card>
    }
</div>
<div class="page-top">
    <NavLink href="@ToDoTaskManagerPageRoute.AdminDetails" class="top"></NavLink>
</div>
