@page "/Admin"
@page "/Admin/{Id:int}"

@inherits ToDoTaskBase

<CascadingValue Value="this.BrowserTitleValue" Name="@nameof(CascadingData.BrowserTitleCascadingValue)" IsFixed="false">
    <CascadingValue Value="this.BannerTitleValue" Name="@nameof(CascadingData.BannerTitleCascadingValue)" IsFixed="false">
        <CascadingValue Value="this.AppNameValue" Name="@nameof(CascadingData.AppNameCascadingValue)" IsFixed="false">
            <Banner />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<div class="center_max_width_lg">

    @if(this.ToDoTaskDtos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CascadingValue Value="this.ToDoTaskDtos" Name="@nameof(CascadingDataValue.ToDoTaskEntitiesParameterValue)" IsFixed="false">
            <ToDoTaskAdminIndexContainer />
        </CascadingValue>
    }

    <PageFeature OnSelectedPage="this.SelectedPage" OnSortChanged="this.SortChanged" OnSearchChanged="this.SearchChanged" PagerDataParameter="@this.PagerData" />

</div>
<div class="page-top">
    <NavLink href="@ToDoTaskManagerPageRoute.Admin" class="top"></NavLink>
</div>
